<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${saludo}"></h1>
	
	<table>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
      </tr>
      <tr th:each="persona : ${listaPersona}">
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.apellido}"></td>
        <td th:text="${persona.correo==null}? 'sin correo' : ${persona.correo}"></td>
      </tr>
    </table>

</body>
</html>